body{
	font-family: 'Montserrat', sans-serif;
	position: relative;
	background: url('imagens/fundo.jpg');
	background-repeat: repeat;
	width: 1120px;
	margin: 0 auto;
}

header {
	padding: 50px 0;
}

.divLogo{
	position: absolute;
	height: 48px;
	width: 31.09px;
	left: 84px;
	top: 40px;
	border-radius: 0px;
}

.slog{
	position: absolute;
	margin: 0px 135px;
	width: 350px;
	height: 48px;
	border-radius: 0px;
	font-family: 'Montserrat';
	color: darkblue;
	font-weight: bold;
	font-size: 32px;
}

.digiteSeuTexto{
	position: absolute;
	width: 680px;
	height: 48px;
	margin: 40px 140px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
}

.textoArea{
	position: absolute;
	width: 500px;
	height: 288px;
	margin: 90px 140px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 22px;
	line-height: 150%;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
	border-radius: 10px;
	resize: none;
	padding: 20px;
	box-sizing: border-box;
}

.textoAreaCripto{
	position: absolute;
	width: 300px;
	height: 435px;
	padding: 20px;
	left: 700px;
	top: 100px;
	font-family: 'Inter';
	font-size: 22px;
	box-sizing: border-box;
	background: url("imagens/imagem_area_cript.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.77);
	border-radius: 10px;
	resize: none;
	box-sizing: border-box;
}

.interrogacao{
	position: absolute;
	height: 16px;
	width: 16px;
	margin: 400px 140px;
	border-radius: 0px;
}

.letrasMinusculas{
	position: absolute;
	margin: 400px 160px;
	border-radius: 0px;
	font-size: 16px;
}

.botaoCriptografar{
	position: absolute;
	margin: 430px 140px;
	width:240px;
	padding: 15px 0;
	background: #0A3871;
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.50);
}

.botaoCriptografar:hover {
	background: #0000CD;
	transform: scale(1.1);
}

.botaoDescriptografar{
	position: absolute;
	margin: 430px 400px;
	width:240px;
	padding: 15px 0;
	background: #0A3871;
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.50);
}

.botaoDescriptografar:hover {
	background: #0000CD;
	transform: scale(1.1);
}

.textoAlert{
	position: absolute;
	width: 500px;
	margin: 500px 140px;
	border-radius: 0px;
	font-size: 16px;
}

.botaoCopiar{
	position: absolute;
	margin: 450px 710px;
	width:125px;
	height: 25px;
	padding: 15px 0;
	background: #4F4F4F;
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.50);
	line-height: 0px;
}

.botaoCopiar:hover {
	background: #363636;
}

.textoCopiado{
	position: absolute;
	width: 300px;
	margin: 490px 707px;
	border-radius: 0px;
	font-size: 16px;
	text-align: center;
}


.botaoLimpar{
	position: absolute;
	margin: 450px 870px;
	width:125px;
	height: 25px;
	padding: 15px 0;
	background: #4F4F4F;
	font-family: Montserrat;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.50);
	line-height: 0px;
}

.botaoLimpar:hover {
	background: #363636;
}

footer .rodaPe{
	position: absolute;
	text-align: center;
	width:300px;
	margin: 480px 700px;
	background: url("bg.jpg");
	padding: 40px 0;
}