@media screen and (max-width: 480px) {
    body, header, .divLogo,  .digiteSeuTexto, .textoArea, .textoAreaCripto, .interrogacao, .letrasMinusculas,
    .botaoCriptografar, .botaoCriptografar:hover, .botaoDescriptografar, .botaoCriptografar:hover,
    .botaoDescriptografar, .botaoDescriptografar:hover, .botaoCopiar, .botaoCopiar:hover,
    .textoCopiado{
        width: auto;
    }

body{

	width: 720px;
}

.divLogo{
	width: 90px;
	height: 90px;
	left: 84px;
	top: 55px;
}

.slog{
	margin: 30px 190px;
	width: 550px;
	height: 48px;
	font-size: 55px;
}

.digiteSeuTexto{
	width: 680px;
	margin: 80px 50px;
	font-size: 45px;
}

.textoArea{
	width: 100%;
	height: 600px;
	left: -100px;
	top: 170px;
	font-size: 45px;
}

.interrogacao{
	margin: 780px 50px;
}

.letrasMinusculas{
	width: 765px;
	margin: 780px 70px;
	font-size: 32px;
}

.botaoCriptografar{
	margin: 860px 50px;
	width:330px;
	padding: 30px;
	font-size: 32px;
}

.botaoCriptografar:hover {
	width:330px;
	padding: 30px;
	transform: scale(1.1);
}

.botaoDescriptografar{
	margin: 860px 422px;
	width:330px;
	padding: 30px;
	font-size: 32px;
}

.botaoDescriptografar:hover {
	width:330px;
	padding: 30px;
	transform: scale(1.1);
}

.textoAlert{
	width:600px;
	margin: 980px 75px;
	font-size: 15px;
	text-align: center;
	font-size: 32px;
}

.textoAreaCripto{
	width: 100%;
	height: 700px;
	left: 40px;
	top: 1165px;	
	font-size: 45px;
}

.botaoCopiar{
	margin: 1790px 48px;
	width:330px;
	height: 80px;
	padding: 30px;
	font-size: 32px;
}

.botaoCopiar:hover {
	width:330px;
	height: 80px;
}

.textoCopiado{
	width:600px;
	margin: 1890px 15px;
	font-size: 32px;
}

.botaoLimpar{
	margin: 1790px 420px;
	width:330px;
	height: 80px;
	padding: 30px;
	font-size: 32px;
}

.botaoLimpar:hover {
	width:330px;
	height: 80px;
}

footer .rodaPe{
	width:400px;
	margin: 1900px 190px;
	font-size: 32px;
}
